@import "tailwindcss";

@theme inline {
  --color-background: var(--sds-color-background-default-default, #ffffff);
  --color-foreground: var(--sds-color-text-default-default, #1e1e1e);
  --font-sans: var(--sds-typography-body-font-family, Inter), sans-serif;
  --font-mono: var(--sds-typography-code-font-family, Roboto Mono), monospace;
  
  /* Semantic Colors from Figma */
  --color-text-default-default: var(--sds-color-text-default-default);
  --color-border-default-default: var(--sds-color-border-default-default);
  --color-background-warning-tertiary: var(--sds-color-background-warning-tertiary);
  --color-border-warning-tertiary: var(--sds-color-border-warning-tertiary);
  --color-background-default-default: var(--sds-color-background-default-default);
  --color-background-default-secondary: var(--sds-color-background-default-secondary);
  --color-icon-warning-on-warning-secondary: var(--sds-color-icon-warning-on-warning-secondary);
  --color-text-warning-on-warning-secondary: var(--sds-color-text-warning-on-warning-secondary);
  --color-border-warning-default: var(--sds-color-border-warning-default);
  --color-text-warning-on-warning-tertiary: var(--sds-color-text-warning-on-warning-tertiary);
  --color-background-warning-secondary: var(--sds-color-background-warning-secondary);
  --color-black-100: var(--sds-color-black-100);
  --color-black-200: var(--sds-color-black-200);
  --color-border-utilities-swatch: var(--sds-color-border-utilities-swatch);
  --color-background-default-default-hover: var(--sds-color-background-default-default-hover);
  --color-background-default-secondary-hover: var(--sds-color-background-default-secondary-hover);
  --color-background-default-tertiary: var(--sds-color-background-default-tertiary);
  --color-background-default-tertiary-hover: var(--sds-color-background-default-tertiary-hover);
  --color-background-disabled-default: var(--sds-color-background-disabled-default);
  --color-background-brand-default: var(--sds-color-background-brand-default);
  --color-background-brand-hover: var(--sds-color-background-brand-hover);
  --color-background-brand-secondary: var(--sds-color-background-brand-secondary);
  --color-background-brand-secondary-hover: var(--sds-color-background-brand-secondary-hover);
  --color-background-neutral-default: var(--sds-color-background-neutral-default);
  --color-background-neutral-hover: var(--sds-color-background-neutral-hover);
  --color-background-neutral-secondary: var(--sds-color-background-neutral-secondary);
  --color-background-neutral-secondary-hover: var(--sds-color-background-neutral-secondary-hover);
  --color-background-neutral-tertiary: var(--sds-color-background-neutral-tertiary);
  --color-background-neutral-tertiary-hover: var(--sds-color-background-neutral-tertiary-hover);
  --color-background-positive-default: var(--sds-color-background-positive-default);
  --color-background-positive-hover: var(--sds-color-background-positive-hover);
  --color-background-positive-secondary: var(--sds-color-background-positive-secondary);
  --color-background-positive-secondary-hover: var(--sds-color-background-positive-secondary-hover);
  --color-background-positive-tertiary: var(--sds-color-background-positive-tertiary);
  --color-background-positive-tertiary-hover: var(--sds-color-background-positive-tertiary-hover);
  --color-background-warning-default: var(--sds-color-background-warning-default);
  --color-background-warning-hover: var(--sds-color-background-warning-hover);
  --color-background-warning-tertiary-hover: var(--sds-color-background-warning-tertiary-hover);
  --color-background-danger-default: var(--sds-color-background-danger-default);
  --color-background-danger-hover: var(--sds-color-background-danger-hover);
  --color-background-danger-secondary: var(--sds-color-background-danger-secondary);
  --color-background-danger-secondary-hover: var(--sds-color-background-danger-secondary-hover);
  --color-background-danger-tertiary: var(--sds-color-background-danger-tertiary);
  --color-background-danger-tertiary-hover: var(--sds-color-background-danger-tertiary-hover);
  --color-text-neutral-on-neutral-tertiary: var(--sds-color-text-neutral-on-neutral-tertiary);
  --color-border-neutral-tertiary: var(--sds-color-border-neutral-tertiary);
  --color-text-neutral-on-neutral-secondary: var(--sds-color-text-neutral-on-neutral-secondary);
  --color-background-utilities-scrim: var(--sds-color-background-utilities-scrim);
  --color-background-utilities-blanket: var(--sds-color-background-utilities-blanket);
  --color-background-utilities-overlay: var(--sds-color-background-utilities-overlay);
  --color-border-default-secondary: var(--sds-color-border-default-secondary);
  --color-border-default-tertiary: var(--sds-color-border-default-tertiary);
  --color-border-disabled-default: var(--sds-color-border-disabled-default);
  --color-border-brand-default: var(--sds-color-border-brand-default);
  --color-border-brand-secondary: var(--sds-color-border-brand-secondary);
  --color-border-brand-tertiary: var(--sds-color-border-brand-tertiary);
  --color-border-neutral-default: var(--sds-color-border-neutral-default);
  --color-border-neutral-secondary: var(--sds-color-border-neutral-secondary);
  --color-border-positive-default: var(--sds-color-border-positive-default);
  --color-border-positive-secondary: var(--sds-color-border-positive-secondary);
  --color-border-warning-secondary: var(--sds-color-border-warning-secondary);
  --color-border-danger-default: var(--sds-color-border-danger-default);
  --color-border-danger-secondary: var(--sds-color-border-danger-secondary);
  --color-border-danger-tertiary: var(--sds-color-border-danger-tertiary);
  --color-text-default-secondary: var(--sds-color-text-default-secondary);
  --color-text-default-tertiary: var(--sds-color-text-default-tertiary);
  --color-text-disabled-default: var(--sds-color-text-disabled-default);
  --color-text-disabled-on-disabled: var(--sds-color-text-disabled-on-disabled);
  --color-text-brand-default: var(--sds-color-text-brand-default);
  --color-text-brand-secondary: var(--sds-color-text-brand-secondary);
  --color-text-brand-tertiary: var(--sds-color-text-brand-tertiary);
  --color-text-brand-on-brand: var(--sds-color-text-brand-on-brand);
  --color-text-brand-on-brand-secondary: var(--sds-color-text-brand-on-brand-secondary);
  --color-text-brand-on-brand-tertiary: var(--sds-color-text-brand-on-brand-tertiary);
  --color-text-neutral-default: var(--sds-color-text-neutral-default);
  --color-text-neutral-secondary: var(--sds-color-text-neutral-secondary);
  --color-text-neutral-tertiary: var(--sds-color-text-neutral-tertiary);
  --color-text-neutral-on-neutral: var(--sds-color-text-neutral-on-neutral);
  --color-text-danger-default: var(--sds-color-text-danger-default);
  --color-text-danger-secondary: var(--sds-color-text-danger-secondary);
  --color-text-danger-tertiary: var(--sds-color-text-danger-tertiary);
  --color-text-danger-on-danger: var(--sds-color-text-danger-on-danger);
  --color-text-danger-on-danger-secondary: var(--sds-color-text-danger-on-danger-secondary);
  --color-text-danger-on-danger-tertiary: var(--sds-color-text-danger-on-danger-tertiary);
  --color-text-warning-default: var(--sds-color-text-warning-default);
  --color-text-warning-secondary: var(--sds-color-text-warning-secondary);
  --color-text-warning-tertiary: var(--sds-color-text-warning-tertiary);
  --color-text-warning-on-warning: var(--sds-color-text-warning-on-warning);
  --color-text-positive-default: var(--sds-color-text-positive-default);
  --color-text-positive-secondary: var(--sds-color-text-positive-secondary);
  --color-text-positive-tertiary: var(--sds-color-text-positive-tertiary);
  --color-text-positive-on-positive: var(--sds-color-text-positive-on-positive);
  --color-text-positive-on-positive-secondary: var(--sds-color-text-positive-on-positive-secondary);
  --color-text-positive-on-positive-tertiary: var(--sds-color-text-positive-on-positive-tertiary);
  --color-icon-default-default: var(--sds-color-icon-default-default);
  --color-icon-default-secondary: var(--sds-color-icon-default-secondary);
  --color-icon-default-tertiary: var(--sds-color-icon-default-tertiary);
  --color-icon-disabled-default: var(--sds-color-icon-disabled-default);
  --color-icon-brand-default: var(--sds-color-icon-brand-default);
  --color-icon-brand-secondary: var(--sds-color-icon-brand-secondary);
  --color-icon-brand-on-brand-tertiary: var(--sds-color-icon-brand-on-brand-tertiary);
  --color-icon-brand-on-brand: var(--sds-color-icon-brand-on-brand);
  --color-icon-brand-on-brand-secondary: var(--sds-color-icon-brand-on-brand-secondary);
  --color-icon-neutral-default: var(--sds-color-icon-neutral-default);
  --color-icon-neutral-secondary: var(--sds-color-icon-neutral-secondary);
  --color-icon-neutral-tertiary: var(--sds-color-icon-neutral-tertiary);
  --color-icon-neutral-on-neutral: var(--sds-color-icon-neutral-on-neutral);
  --color-icon-neutral-on-neutral-secondary: var(--sds-color-icon-neutral-on-neutral-secondary);
  --color-icon-neutral-on-neutral-tertiary: var(--sds-color-icon-neutral-on-neutral-tertiary);
  --color-icon-positive-default: var(--sds-color-icon-positive-default);
  --color-icon-positive-secondary: var(--sds-color-icon-positive-secondary);
  --color-icon-positive-tertiary: var(--sds-color-icon-positive-tertiary);
  --color-icon-positive-on-positive: var(--sds-color-icon-positive-on-positive);
  --color-icon-positive-on-positive-secondary: var(--sds-color-icon-positive-on-positive-secondary);
  --color-icon-positive-on-positive-tertiary: var(--sds-color-icon-positive-on-positive-tertiary);
  --color-icon-warning-default: var(--sds-color-icon-warning-default);
  --color-icon-warning-secondary: var(--sds-color-icon-warning-secondary);
  --color-icon-warning-tertiary: var(--sds-color-icon-warning-tertiary);
  --color-icon-warning-on-warning: var(--sds-color-icon-warning-on-warning);
  --color-icon-warning-on-warning-tertiary: var(--sds-color-icon-warning-on-warning-tertiary);
  --color-icon-danger-default: var(--sds-color-icon-danger-default);
  --color-icon-danger-secondary: var(--sds-color-icon-danger-secondary);
  --color-icon-danger-tertiary: var(--sds-color-icon-danger-tertiary);
  --color-icon-danger-on-danger: var(--sds-color-icon-danger-on-danger);
  --color-icon-danger-on-danger-secondary: var(--sds-color-icon-danger-on-danger-secondary);
  --color-icon-danger-on-danger-tertiary: var(--sds-color-icon-danger-on-danger-tertiary);
  --color-background-utilities-measurement: var(--sds-color-background-utilities-measurement);

  /* Typography, Sizes, Radii from Figma */
  --radius-200: var(--sds-size-radius-200);
  --spacing-300: var(--sds-size-space-300);
  --spacing-400: var(--sds-size-space-400);
  --spacing-800: var(--sds-size-space-800);
  --spacing-1600: var(--sds-size-space-1600);
  --radius-xl: var(--sds-size-radius-xl);
  --text-heading-base: var(--sds-typography-heading-size-base);
  --spacing-200: var(--sds-size-space-200);
  --radius-full: var(--sds-size-radius-full);
  --radius-400: var(--sds-size-radius-400);
  --spacing-100: var(--sds-size-space-100);
  --radius-100: var(--sds-size-radius-100);
  --spacing-600: var(--sds-size-space-600);
  --spacing-2400: var(--sds-size-space-2400);
  --spacing-4000: var(--sds-size-space-4000);
}

:root {
  --sds-color-text-default-default: #1e1e1e;
  --sds-typography-title-hero-size: 72px;
  --sds-typography-title-hero-font-family: Inter;
  --sds-typography-title-hero-font-weight: 700;
  --sds-size-radius-200: 8px;
  --sds-color-border-default-default: #d9d9d9;
  --sds-color-background-warning-tertiary: #fffbeb;
  --sds-color-border-warning-tertiary: #bf6a02;
  --sds-size-space-300: 12px;
  --sds-size-space-400: 16px;
  --sds-size-space-800: 32px;
  --sds-size-stroke-border: 1px;
  --sds-color-background-default-default: #ffffff;
  --sds-typography-title-page-size-base: 48px;
  --sds-typography-title-page-font-family: Inter;
  --sds-typography-title-page-font-weight: 700;
  --sds-typography-subtitle-size-base: 32px;
  --sds-typography-subtitle-font-family: Inter;
  --sds-typography-subtitle-font-weight: 400;
  --sds-size-space-1600: 64px;
  --sds-size-radius-xl: 24px;
  --sds-color-background-default-secondary: #f5f5f5;
  --sds-typography-heading-size-base: 24px;
  --sds-typography-heading-font-family: Inter;
  --sds-typography-heading-font-weight: 600;
  --sds-typography-subheading-size-medium: 20px;
  --sds-typography-subheading-font-family: Inter;
  --sds-typography-subheading-font-weight: 400;
  --sds-typography-body-size-medium: 16px;
  --sds-typography-body-font-family: Inter;
  --sds-typography-body-font-weight-regular: 400;
  --sds-typography-body-font-weight-strong: 600;
  --sds-typography-body-font-style-italic: Italic;
  --sds-size-padding-xl: 24px;
  --sds-typography-body-size-small: 14px;
  --sds-size-space-200: 8px;
  --sds-typography-code-size-base: 16px;
  --sds-typography-code-font-family: Roboto Mono;
  --sds-typography-code-font-weight: 400;
  --sds-color-icon-warning-on-warning-secondary: #682d03;
  --sds-color-text-warning-on-warning-secondary: #682d03;
  --sds-typography-scale-03: 16px;
  --sds-typography-family-mono: Roboto Mono;
  --sds-typography-weight-regular: 400;
  --sds-color-border-warning-default: #522504;
  --sds-size-icon-small: 24px;
  --sds-size-radius-full: 9999px;
  --sds-color-text-warning-on-warning-tertiary: #522504;
  --sds-typography-weight-bold: 700;
  --sds-size-radius-400: 16px;
  --sds-color-background-warning-secondary: #fff1c2;
  --sds-size-depth-0: 0px;
  --sds-color-black-100: #0c0c0d0d;
  --sds-size-depth-100: 4px;
  --sds-color-black-200: #0c0c0d1a;
  --sds-size-depth-negative-025: -1px;
  --sds-color-border-utilities-swatch: #000000;
  --sds-size-depth-025: 1px;
  --sds-color-background-default-default-hover: #f5f5f5;
  --sds-color-background-default-secondary-hover: #e6e6e6;
  --sds-color-background-default-tertiary: #d9d9d9;
  --sds-color-background-default-tertiary-hover: #b3b3b3;
  --sds-color-background-disabled-default: #d9d9d9;
  --sds-color-background-brand-default: #2c2c2c;
  --sds-color-background-brand-hover: #1e1e1e;
  --sds-color-background-brand-secondary: #e6e6e6;
  --sds-color-background-brand-secondary-hover: #d9d9d9;
  --sds-color-background-neutral-default: #5a5a5a;
  --sds-color-background-neutral-hover: #434343;
  --sds-color-background-neutral-secondary: #d9d9d9;
  --sds-color-background-neutral-secondary-hover: #b3b3b3;
  --sds-color-background-neutral-tertiary: #e6e6e6;
  --sds-color-background-neutral-tertiary-hover: #d9d9d9;
  --sds-color-background-positive-default: #14ae5c;
  --sds-color-background-positive-hover: #009951;
  --sds-color-background-positive-secondary: #cff7d3;
  --sds-color-background-positive-secondary-hover: #aff4c6;
  --sds-color-background-positive-tertiary: #ebffee;
  --sds-color-background-positive-tertiary-hover: #cff7d3;
  --sds-color-background-warning-default: #e8b931;
  --sds-color-background-warning-hover: #e5a000;
  --sds-color-background-warning-tertiary-hover: #fff1c2;
  --sds-color-background-danger-default: #ec221f;
  --sds-color-background-danger-hover: #c00f0c;
  --sds-color-background-danger-secondary: #fdd3d0;
  --sds-color-background-danger-secondary-hover: #fcb3ad;
  --sds-color-background-danger-tertiary: #fee9e7;
  --sds-color-background-danger-tertiary-hover: #fdd3d0;
  --sds-color-text-neutral-on-neutral-tertiary: #434343;
  --sds-size-space-100: 4px;
  --sds-color-border-neutral-tertiary: #b3b3b3;
  --sds-color-text-neutral-on-neutral-secondary: #2c2c2c;
  --sds-color-background-utilities-scrim: #ffffff;
  --sds-color-background-utilities-blanket: #000000;
  --sds-color-background-utilities-overlay: #000000;
  --sds-color-border-default-secondary: #767676;
  --sds-color-border-default-tertiary: #2c2c2c;
  --sds-color-border-disabled-default: #b3b3b3;
  --sds-color-border-brand-default: #2c2c2c;
  --sds-color-border-brand-secondary: #434343;
  --sds-color-border-brand-tertiary: #767676;
  --sds-color-border-neutral-default: #2c2c2c;
  --sds-color-border-neutral-secondary: #767676;
  --sds-color-border-positive-default: #02542d;
  --sds-color-border-positive-secondary: #009951;
  --sds-color-border-warning-secondary: #975102;
  --sds-color-border-danger-default: #900b09;
  --sds-color-border-danger-secondary: #c00f0c;
  --sds-color-border-danger-tertiary: #ec221f;
  --sds-color-text-default-secondary: #767676;
  --sds-color-text-default-tertiary: #b3b3b3;
  --sds-color-text-disabled-default: #b3b3b3;
  --sds-color-text-disabled-on-disabled: #b3b3b3;
  --sds-color-text-brand-default: #2c2c2c;
  --sds-color-text-brand-secondary: #434343;
  --sds-color-text-brand-tertiary: #767676;
  --sds-color-text-brand-on-brand: #f5f5f5;
  --sds-color-text-brand-on-brand-secondary: #1e1e1e;
  --sds-color-text-brand-on-brand-tertiary: #2c2c2c;
  --sds-color-text-neutral-default: #2c2c2c;
  --sds-color-text-neutral-secondary: #5a5a5a;
  --sds-color-text-neutral-tertiary: #767676;
  --sds-color-text-neutral-on-neutral: #f3f3f3;
  --sds-color-text-danger-default: #900b09;
  --sds-color-text-danger-secondary: #c00f0c;
  --sds-color-text-danger-tertiary: #ec221f;
  --sds-color-text-danger-on-danger: #fee9e7;
  --sds-color-text-danger-on-danger-secondary: #900b09;
  --sds-color-text-danger-on-danger-tertiary: #900b09;
  --sds-color-text-warning-default: #522504;
  --sds-color-text-warning-secondary: #975102;
  --sds-color-text-warning-tertiary: #bf6a02;
  --sds-color-text-warning-on-warning: #401b01;
  --sds-color-text-positive-default: #02542d;
  --sds-color-text-positive-secondary: #009951;
  --sds-color-text-positive-tertiary: #14ae5c;
  --sds-color-text-positive-on-positive: #ebffee;
  --sds-color-text-positive-on-positive-secondary: #02542d;
  --sds-color-text-positive-on-positive-tertiary: #02542d;
  --sds-color-icon-default-default: #1e1e1e;
  --sds-color-icon-default-secondary: #767676;
  --sds-color-icon-default-tertiary: #b3b3b3;
  --sds-color-icon-disabled-default: #b3b3b3;
  --sds-color-icon-brand-default: #2c2c2c;
  --sds-color-icon-brand-secondary: #434343;
  --sds-color-icon-brand-on-brand-tertiary: #2c2c2c;
  --sds-color-icon-brand-on-brand: #f5f5f5;
  --sds-color-icon-brand-on-brand-secondary: #1e1e1e;
  --sds-color-icon-neutral-default: #2c2c2c;
  --sds-color-icon-neutral-secondary: #5a5a5a;
  --sds-color-icon-neutral-tertiary: #767676;
  --sds-color-icon-neutral-on-neutral: #f3f3f3;
  --sds-color-icon-neutral-on-neutral-secondary: #2c2c2c;
  --sds-color-icon-neutral-on-neutral-tertiary: #434343;
  --sds-color-icon-positive-default: #02542d;
  --sds-color-icon-positive-secondary: #009951;
  --sds-color-icon-positive-tertiary: #14ae5c;
  --sds-color-icon-positive-on-positive: #ebffee;
  --sds-color-icon-positive-on-positive-secondary: #02542d;
  --sds-color-icon-positive-on-positive-tertiary: #024023;
  --sds-color-icon-warning-default: #522504;
  --sds-color-icon-warning-secondary: #975102;
  --sds-color-icon-warning-tertiary: #bf6a02;
  --sds-color-icon-warning-on-warning: #401b01;
  --sds-color-icon-warning-on-warning-tertiary: #522504;
  --sds-color-icon-danger-default: #900b09;
  --sds-color-icon-danger-secondary: #c00f0c;
  --sds-color-icon-danger-tertiary: #ec221f;
  --sds-color-icon-danger-on-danger: #fee9e7;
  --sds-color-icon-danger-on-danger-secondary: #900b09;
  --sds-color-icon-danger-on-danger-tertiary: #900b09;
  --sds-size-radius-100: 4px;
  --sds-size-space-600: 24px;
  --sds-color-background-utilities-measurement: #f3f3f3;
  --sds-size-space-negative-100: -4px;
  --sds-size-space-negative-200: -8px;
  --sds-size-space-negative-300: -12px;
  --sds-size-space-negative-400: -16px;
  --sds-size-space-negative-600: -24px;
  --sds-size-space-2400: 96px;
  --sds-size-space-4000: 160px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
